.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hover-card {
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}
.hover-card:hover {
  transform: scale(1.05);
  background-color: #f1e6fa;
}
.card-img-top {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.place-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.place-card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}

